<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YCCPTodyExtenstion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>YCCPkit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>YCCQ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0342D78B1B6760CD004BA466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0342D7A71B67912C004BA466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0342D7B11B67912C004BA466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03952DD21B05CA120055D36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03952DEE1B05CA130055D36B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
